p {
  font-family: Lato;
}

.tooltippop {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #ccc;
  color: #006080;
}

.tooltippoptext {
  visibility: hidden;
}

.tooltippop-left {
  visibility: visible;
  bottom: auto;
  right: 108%;
}

.tooltippop-left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltippop-top {
  visibility: visible;
}

.tooltippop-top::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.center {
  text-align: center;
}
